Repository MRSA-ID/Travel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "vitest related --run"
  ],
  "src/**/*.{css,scss}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

docs: update dokumentasi
  README.md
Due: prettier --write

docs: hapus yang tidak perlu
  README.md
Due: prettier --write

perf: new package and config
  package.json
  pnpm-lock.yaml
  public/image/hero_image.jpg
  tailwind.config.js
  tsconfig.app.json
Due: prettier --write

style: globals
  src/App.css
  src/index.css
Due: prettier --write

feat: type
  src/types/articles.ts
  src/types/auth.ts
  src/types/category.ts
  src/types/comments.ts
  src/types/upload.ts
  src/types/users.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: auth and store
  src/api/auth.ts
  src/api/index.ts
  src/hooks/redux-hooks.ts
  src/main.tsx
  src/store/index.ts
  src/store/slices/authSlices.ts
  src/utils/crypto.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: landing home page view
  src/App.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: call isloading from store comment
  src/components/dashboard/CommentModal.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: type in diff in seconds
  src/components/ModalArticleDetail.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: some type, category filter optional parameter and route
  src/pages/auth/login.tsx
  src/pages/dashboard/articles.tsx
  src/pages/dashboard/category.tsx
  src/routes/index.tsx
  src/store/slices/categorySlices.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: dashboard
  package.json
  pnpm-lock.yaml
  src/components/dashboard/StatsCard.tsx
  src/pages/dashboard/index.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: entry
  src/pages/dashboard/index.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: dashboard, history comments
  src/components/LoginForm.tsx
  src/components/ModalArticleDetail.tsx
  src/components/Navbar.tsx
  src/components/RegisterForm.tsx
  src/components/Sidebar.tsx
  src/components/dashboard/CommentModal.tsx
  src/hooks/article/useForm.ts
  src/hooks/category/useForm.ts
  src/hooks/comments/useForm.ts
  src/pages/dashboard/articles.tsx
  src/pages/dashboard/comments.tsx
  src/pages/dashboard/index.tsx
  src/pages/dashboard/profile.tsx
  src/pages/landing.tsx
  src/routes/index.tsx
  src/store/index.ts
  src/store/slices/articleSlices.ts
  src/store/slices/categorySlices.ts
  src/store/slices/commentSlices.ts
  src/types/articles.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: dashboard article by comments
  src/pages/dashboard/index.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: show toast in post request
  src/components/LoginForm.tsx
  src/components/ModalArticleDetail.tsx
  src/components/PrivateOnlyRoute.tsx
  src/components/PublicOnlyRoute.tsx
  src/components/dashboard/ArticleModal.tsx
  src/components/dashboard/CategoryModal.tsx
  src/components/dashboard/CommentModal.tsx
  src/pages/dashboard/articles.tsx
  src/pages/dashboard/category.tsx
  src/pages/dashboard/comments.tsx
  src/pages/landing.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: title page with react-helmet
  src/main.tsx
  src/pages/auth/login.tsx
  src/pages/auth/register.tsx
  src/pages/dashboard/articles.tsx
  src/pages/dashboard/category.tsx
  src/pages/dashboard/comments.tsx
  src/pages/dashboard/index.tsx
  src/pages/dashboard/profile.tsx
  src/pages/landing.tsx
  src/pages/not-found.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: default title and description
  index.html
Due: none

perf: uninstall unused package
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write

add: new logo ico
  commitlint.config.cjs
  index.html
  public/logo.svg
Due: none

add: vercel
  vercel.json
Due: prettier --write

fix: vercel
  vercel.json
Due: prettier --write

fix: function sebelum dan sesudah komponent di mount dan unmount
  src/pages/dashboard/index.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: dest vercel image
  vercel.json
Due: prettier --write
